.about {
  padding: 120px 0;
  background-color: $secondary-color;
  &__container {
    position: relative;
  }

  &__decor-1 {
    top: 100%;
    right: 90%;
    background-image: url('images/dot-sm-w.png');
  }
  &__decor-2 {
    top: 140px;
    left: 80%;
    background-image: url('images/dot-lg-w.png');
  }

  &__decor-3 {
    top: 40%;
    right: 75%;
    width: 326px!important;
    height: 561px!important;
    background-image: url('images/way.png');
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }
  &__content {
    display: flex;
  }
  &__left {
    margin-right: 30px;
  }
  &__img {
    width: 309px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;

    transform: scale(0);
    opacity: 0;
    transition: all 1s ease 0s;

    &._active {
      transform: scale(1);
      opacity: 1;
    }

  }
  &__right {
    padding: 75px;
    border-left: 1px solid rgba($main-color, 10%);
  }
  &__greeting {
    margin-bottom: 30px;
    transform: translate(110%, 0);
    opacity: 0;
    transition: all 1s ease 0s;

    &._active {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  &__desc {
    transform: translate(110%, 0);
    opacity: 0;
    transition: all 1s ease .2s;
    &._active {
      opacity: 1;
      transform: translate(0, 0);
    }
    & p {
      margin-bottom: 20px;
    }
  }
  &__desc a:link {
    color: $main-color;
    text-decoration: none;
  }
  &__desc a:hover {
    text-decoration: underline;
  }
  
}

@media (max-width: $breakpoint-tablet) {
  .about {
    padding: 80px 0;
    &__content {
      flex-direction: column;
    }
    &__left {
      margin: 0 auto 50px;
    }
    &__right {
      padding: 60px;
      border-left: none;
      border-top: 1px solid rgba($main-color, 10%);
    }
    &__greeting {
      text-align: center;
    }
  }
}


@media (max-width: $breakpoint-tablet) {
  .about {
    padding: 50px 0;
    &__left {
      margin-top: 30px;
    }

    &__right {
      padding: 30px 0;
    }
  }
}