.contacts {
  padding: 120px 0 120px;
  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
  &__subtitle {
    text-align: center;
    margin-bottom: 50px;
  }
  &__content {
    position: relative;
  }
  &__form {
    position: relative;
    max-width: 430px;
    z-index: 7;
  }
  &__map {
    position: absolute;
    max-width: 829px;
    top: 10px;
    right: 0;
    z-index: 6;
  }
}

@media (max-width: $breakpoint-tablet) {
  .contacts {
    padding: 80px 0 80px;
    &__form {
      margin: 0 auto;
    }
    &__map {
      display: none;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .contacts {
    padding: 50px 0 50px
  }
}
