.form {
  background-color: $main-color;
  color: $secondary-color;
  padding: 60px;
  border-radius: 35px;
  text-align: center;
  min-height: 532px;
  position: relative;
  &__request{
    display: block;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__elem {

  }
  &__row {
    display: flex;
    & + .form__row {
      margin-top: 15px;
    }
  }
  &__input {
    width: 100%;
    border-radius: 35px;
    padding: 20px 40px;
    outline: none;
    border: none;
    &:focus {
      box-shadow: 0 0 0 1px yellow;
    }
    &--textarea {
      resize: vertical;
      height: 130px;
    }
  }
  &__btn {
    width: 100%;
  }
  &__answer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-title {
      margin-bottom: 15px;
    }
  }
}
