.header {
  padding: 25px 0;
  background-color: $secondary-color;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: $breakpoint-tablet) {
  .header {
    &__container {
      // flex-direction: column;
    }
  }
}
