.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 25px 0;
  background-color: $secondary-color;
  z-index: 100;
  border-bottom: 1px solid $main-color;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}