.portfolio {
  padding: 120px 0;
  background-color: $main-color;
  font-size: 24px;
  &__title {
    text-align: center;
    color: $secondary-color;
    margin-bottom: 50px;
  }
  &__slider {
    & .slick-arrow {
      
      background-color: $main-color;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid $secondary-color;
      z-index: 1;
      &::before {
        font-size: 25px;
        color: $secondary-color;
      }
      &.slick-disabled {
        opacity: .5;
      }
    }

    & .slick-prev {
      animation: dots-prev 2s ease-in-out infinite;
      left: 0px;
    }
    & .slick-next {
      animation: dots-next 2s ease-in-out infinite;
      right: 0px;
    }

    & .slick-slide {
      opacity: 0;
      transition: all 1.2s ease .5s;
      &.slick-active,
      &.slick-current {
        opacity: 1;
      }
    }

    & .slick-dots {
      bottom: -80px;
      & li {
        background-color: rgba($secondary-color, 22%);
        border-radius: 50%;
        margin-left: 16px;
        margin-right: 16px;
        width: 16px;
        height: 16px;
        &.slick-active {
          background-color: $secondary-color;
        }
        & button {
          width: inherit;
          height: inherit;
          &::before {
            font-size: 0;
            width: inherit;
            height: inherit;
          }
        }

      }
    }
  }
  &__slider-item-inner {
    display: flex;
    background-color: $secondary-color;
    border-radius: 35px;
    overflow: hidden;
  }
  &__slider-left {
    min-width: 40%;
    padding: 80px 0 0 80px;
  }
  &__slider-img {
    border-radius: 35px;
    overflow: hidden;
  }
  &__slider-right {
    padding: 70px;
  }
  &__category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
    color: rgba($main-color, 40%);
    &-title {
      text-transform: uppercase;
    }
  }
  &__name {
    margin-bottom: 37px;
  }
  &__text {
    margin-bottom: 58px;
  }
  &__links {
    display: flex;
    justify-content: flex-end;
    & a {
      margin-left: 20px;
      text-decoration: none;
      color: rgba($link-color, 90%);
      font-weight: 600;
      &:hover {
        color: $link-color-hover;
      }
    }
  }
}
@keyframes dots-prev {
  0%,
  100% {
    transform: translateX(0)
  }

  50% {
    transform: translateX(-10px)
  }
}
@keyframes dots-next {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px)
  }
}

@media (max-width: $breakpoint-tablet) {
  .portfolio {
    padding: 80px 0 100px;
    &__slider {
      & .slick-arrow {
        width: 80px;
        height: 80px;
      }
    }
  }
}
@media (max-width: $breakpoint-mobile) {
  .portfolio {
    padding: 50px 0 100px;

    &__slider {
      & .slick-arrow {
        width: 80px;
        height: 80px;
      }


      &-left {
        padding: 40px 0 0 40px;
      }

      &-right {
        padding: 40px;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile-sm) {
  .portfolio {
    &__slider {
      &-item {
        &-inner {
          flex-direction: column;
        }
      }
      &-left {
        padding: 40px 40px 0 40px;
      }

      &-right {
        padding: 40px;
      }
    }
  }
}