.portfolio {
  padding: 120px 0;
  background-color: $main-color;
  &__title {
    text-align: center;
    color: $secondary-color;
    margin-bottom: 50px;
  }
  &__slider {
    & .slick-arrow {
      
      background-color: $main-color;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid $secondary-color;
      z-index: 1;
      &::before {
        font-size: 25px;
        color: $secondary-color;
      }
      &.slick-disabled {
        opacity: .5;
      }
    }

    & .slick-prev {
      animation: dots-prev 2s ease-in-out infinite;
      left: -30px;
    }
    & .slick-next {
      animation: dots-next 2s ease-in-out infinite;
      right: -30px;
    }

    & .slick-slide {
      margin: 0 10px;
    }

    & .slick-dots {
      bottom: -40px;
      & li {
        background-color: rgba($secondary-color, 22%);
        border-radius: 50%;
        margin-left: 16px;
        margin-right: 16px;
        width: 12px;
        height: 12px;
        &.slick-active {
          background-color: $secondary-color;
        }
        & button {
          width: inherit;
          height: inherit;
          &::before {
            font-size: 0;
            width: inherit;
            height: inherit;
          }
        }

      }
    }
    &-item {
      margin: 0 10px;
    }
    &-item-inner {
      display: flex;
      flex-direction: column;
      border-radius: 35px;
      overflow: hidden;
    }
    &-top {
      height: 168px;
      overflow: hidden;
    }
    &-bottom {
      background-color: $secondary-color;
      padding: 35px;
    }
    &-img {
      height: 168px;
      object-fit: cover;
    }
  }
  &__name {
    margin-bottom: 15px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    color: rgba($main-color, 40%);
    margin-bottom: 30px;
  }
  &__days {
    display: flex;
    align-items: center;
    &::before {
      content: '';
      display: inline-block;
      margin-right: 10px;
      background-image: url('images/calendar.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 26px;
      height: 26px;
    }
  }
  &__category {
    display: flex;
    align-items: center;
    &::before {
      content: '';
      display: inline-block;
      margin-right: 10px;
      background-image: url('images/category.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 26px;
      height: 26px;
    }
  }
  &__text {
    margin-bottom: 20px;
  }
  &__links {
    display: flex;
    justify-content: flex-end;
    & a {
      margin-left: 20px;
      text-decoration: none;
      color: rgba($link-color, 90%);
      font-weight: 600;
      &:hover {
        color: $link-color-hover;
      }
    }
  }
  &__more {
    margin-top: 80px;
    text-align: center;
    color: $secondary-color;
  }
}
@keyframes dots-prev {
  0%,
  100% {
    transform: translateX(0)
  }

  50% {
    transform: translateX(-10px)
  }
}
@keyframes dots-next {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px)
  }
}

@media (max-width: $breakpoint-tablet) {
  .portfolio {
    padding: 80px 0 100px;
    &__slider {
      & .slick-arrow {
        width: 80px;
        height: 80px;
      }
    }
  }
}
@media (max-width: $breakpoint-mobile) {
  .portfolio {
    padding: 50px 0 100px;
  }
}