.services {
  background-color: $secondary-color;
  padding: 120px 0;
  color: $secondary-color;
  &__title {
    margin-bottom: 50px;
    color: $main-color;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  &__item {
    background-color: $main-color;
    border-radius: 35px;
    padding: 74px 72px;
    margin: 0 10px 20px;
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      transform: translate(-100%, 0);
      opacity: 0;
      transition: all 0.8s ease 0s;

      &._active {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    &:nth-child(2) {
      transform: translate(0, -50%);
      opacity: 0;
      transition: all 0.8s ease .2s;

      &._active {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    &:nth-child(3) {
      transform: translate(0, 50%);
      opacity: 0;
      transition: all 0.8s ease .0s;

      &._active {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    &:nth-child(4) {
      transform: translate(100%, 10%);
      opacity: 0;
      transition: all 0.8s ease .6s;

      &._active {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    
  }

  &__content {
    flex: 1;
  }
  &__name {
    margin-bottom: 35px;

  }
  &__stages {
    font-size: 20px;
    margin-bottom: 50px;
  }
  &__stage {
    & + .services__stage {
      margin-top: 10px;
    }
    &::before {
      content: '';
      opacity: .5;
      display: inline-block;
      background-image: url('images/stage.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__price {
    font-size: 18px;
    font-weight: 600;
    max-width: 200px;
    text-transform: uppercase;
    color: #93a8d5;
  }
}


@media (max-width: $breakpoint-tablet) {
  .services {
    padding: 80px 0 80px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .services {
    padding: 50px 0 50px;
    &__item {
      padding: 50px 50px;
    }
  }
}