.services {
  background-color: $secondary-color;
  padding: 120px 0;
  color: $secondary-color;
  &__title {
    margin-bottom: 50px;
    color: $main-color;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  &__item {
    background-color: $main-color;
    border-radius: 35px;
    padding: 50px;
    margin: 0 10px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      transform: translate(-100%, 0);
      opacity: 0;
      transition: all 0.8s ease 0s;

      &._active {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    &:nth-child(2) {
      transform: translate(0, -50%);
      opacity: 0;
      transition: all 0.8s ease .2s;

      &._active {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    &:nth-child(3) {
      transform: translate(100%, 0);
      opacity: 0;
      transition: all 0.8s ease 0s;

      &._active {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    
  }

  &__top {
    flex: 1;
    margin-bottom: 30px;
  }

  &__name {
    margin-bottom: 45px;
    text-align: center;

  }
  &__stages {
    font-size: 16px;
    margin-bottom: 50px;
    color: rgba($secondary-color, .6);
    margin-bottom: 35px;
  }
  &__stage {
    & + .services__stage {
      margin-top: 15px;
    }
    &::before {
      content: '';
      opacity: .5;
      display: inline-block;
      background-image: url('images/stage.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }
  }
  &__price {
    display: flex;
    font-size: 18px;
    &::before {
      content: '';
      display: inline-block;
      background-image: url('images/price.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 52px;
      height: 52px;
      margin-right: 20px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: center;
  }
}


@media (max-width: $breakpoint-tablet) {
  .services {
    padding: 80px 0 80px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .services {
    padding: 50px 0 50px;
  }
}