.slick-slider {
  & .slick-arrow {

    background-color: $main-color;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid $secondary-color;
    z-index: 1;

    &::before {
      font-size: 25px;
      color: $secondary-color;
    }

    &.slick-disabled {
      opacity: .5;
    }
  }

  & .slick-prev {
    animation: dots-prev 2s ease-in-out infinite;
    left: -30px;
  }

  & .slick-next {
    animation: dots-next 2s ease-in-out infinite;
    right: -30px;
  }

  & .slick-slide {
    margin: 0 10px;
  }

  & .slick-dots {
    margin-top: 20px;
    position: static;

    & li {
      background-color: rgba($secondary-color, 22%);
      border-radius: 50%;
      margin-left: 16px;
      margin-right: 16px;
      width: 12px;
      height: 12px;

      &.slick-active {
        background-color: $secondary-color;
      }

      & button {
        width: inherit;
        height: inherit;

        &::before {
          font-size: 0;
          width: inherit;
          height: inherit;
        }
      }

    }
  }
}
@media (max-width: $breakpoint-tablet) {
  .slick-slider {
    &__slider {
      & .slick-arrow {
        width: 80px;
        height: 80px;
      }
    }
  }
}