.socials {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    & + .socials__item {
      margin-left: 30px;
    }

  }
  &__link {
    /**/
  }
  &__img {
    fill: $main-color;
    width: 25px;
    height: 25px;
    transition: all 0.2s ease-out;
    transform: scale(1);
    &:hover {
      fill: $link-color-hover;
      transform: scale(1.1);
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .socials {
    order: 10;
  }
}