$main-color: #22212D;
$secondary-color: #F3F7FA;
$link-color: #4A7ABB;
$link-color-hover: #809bbf;
$link-color-visited: #8da4c4;
$link-color-active: #34445c;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;
$breakpoint-mobile-sm: 480px;

@import "./blocks/*.scss";